.taskSearch {
  width: 100%;
  padding: 7px 22px;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 14px;
  background-color: #E9F3EE;
  color: #7E8782;
  &:focus {
  }
}