.MenuItem {
  --width: 0;
  display: flex;
  align-items: center;
  margin: 16px 0;
  cursor: pointer;
  position: relative;

  &Wrapper {
    width: 64px;
    height: 64px;
    background-color: #EE4C4C;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 14px;
    transition: 0.1s ease-in;
    &:hover {
      width: var(--width);
      .MenuItemName {
        opacity: 100%;
      }
    }
    .logo {
      margin: 0 16px;
    }
  }
  &CurrentWrapper {
    width: var(--width);
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #61B51F;
    border-radius: 14px;
    .logo {
      margin: 0 16px;
    }
  }

  &Name {
    z-index: 1;
    left: 64px;
    opacity: 0;
    color: white;
    font-size: 24px;
    font-weight: 400;
    width: fit-content;
    white-space: nowrap;
    user-select: none;
    position: absolute;
  }
  &CurrentName {
    z-index: 1;
    color: white;
    font-size: 24px;
    font-weight: 500;
    opacity: 100%;
    width: fit-content;
    white-space: nowrap;
    user-select: none;
  }

  .visible {
    opacity: 100%;
  }

  .invisible {
    opacity: 0;
  }
  .hidden {
    display: none;
  }
}