:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #F1FFF8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  font-family: 'Space Grotesk', sans-serif;
}

/* Main grid settings */
#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;

}

.App {
  padding: 0 100px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'Menu Today';
  grid-template-columns: 254px auto;
  grid-gap: 138px; /* Left hand side gap relative to TimeSelector component*/
  width: 100%;
  height: available;
}

@media (max-width: 1600px) {
  .App {
    padding: 0 50px;
  }
}

@media (max-width: 1366px) {
  .App {
    padding: 0 32px
  }
}
@media (max-width: 1024px) {
  .App {
    padding: 0 16px;
  }
}

.pageHeader {
  font-size: 28px;
  font-weight: bold;
  color: #1B1B1B;
  margin: 22px 0;
}

.sectionHeader {
  font-size: 24px;
  font-weight: 500;
  color: #1B1B1B;
  margin: 0;
}

.Menu {
  grid-area: Menu;
  display: block;
  margin-top: 80px;
}

.Today {
  grid-area: Today;
  display: grid;
  grid-template-areas: 'TimeSelector TaskList';
  grid-template-columns: 1fr 2fr;
  grid-gap: 32px; /* Right hand side gap relative to TimeSelector component*/
}

.TimeSelector {
  grid-area: TimeSelector;
  background-color: blueviolet;
}

.TaskList {
  grid-area: TaskList;
}


